<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">All Jobs</h4>
        <div class="table-responsive">
          <table class="table align-middle text-nowrap text-center">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">Title</th>
                <th class="text-dark font-medium fs-4">Desc</th>
                <th class="text-dark font-medium fs-4">By User</th>
                <th class="text-dark font-medium fs-4">Address</th>
                <th class="text-dark font-medium fs-4">Duration</th>
                <th class="text-dark font-medium fs-4">Balance</th>
                <th class="text-dark font-medium fs-4">status</th>
                <th class="text-dark font-medium fs-4">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let job of jobList; let i=index;">
                <tr>
                  <td class="fs-4">{{job.title}}</td>

                  <td>
                    <span  class="p-2 bg- rounded-circle d-inline-block ms-3"> {{job.desc.substring(0,20)}} ..etc</span>
                  </td>



                  <td>
                    <h5 class="mb-0 fw-normal">{{job.user.name}}</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{job.adress}} , Egypt</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{job.duration}} Hours</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">{{job.balance}} $</h5>
                  </td>
                  <td>
                    <ng-container *ngIf="job.status==1">
                      <h5 class="mb-0 fw-normal" title="Not avalible" style="color:red"><i
                          class="fas fa-times-circle"></i></h5>
                    </ng-container>
                    <ng-container *ngIf="job.status==0">
                      <h5 class="mb-0 fw-normal" title="avalible" style="color:green"><i
                          class="fas fa-check-circle"></i></h5>
                    </ng-container>
                  </td>
                  <td>
                    <button class="btn btn-info"><i class="far fa-eye"></i></button>&nbsp;
                    <button class="btn btn-danger"><i class="far fa-trash"></i></button>
                  </td>
                </tr>
              </ng-container>
              <!-- <tr>
                    <td class="fs-4">Electricty </td>
                    <td>
                        <span class="p-2 bg- rounded-circle d-inline-block ms-3"> Electricty Job </span>
                    </td>

                    <td>
                        <h5 class="mb-0 fw-normal">Mina Ezzat</h5>
                    </td>
                    <td>
                      <h5 class="mb-0 fw-normal">Cairo</h5>
                    </td>
                    <td>
                      <h5 class="mb-0 fw-normal">4 Hours</h5>
                  </td>
                  <td>
                    <h5 class="mb-0 fw-normal">320$</h5>
                  </td>
                  <td >
                    <h5 class="mb-0 fw-normal" style="color:green"><i class="fas fa-check-circle"></i></h5>
                  </td>
                    <td>
                      <button class="btn btn-info"><i class="far fa-eye"></i></button>&nbsp;
                      <button class="btn btn-danger"><i class="far fa-trash"></i></button>
                    </td>
                </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
