<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success">
                        <i class="bi bi-coin"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{dashboardData.contracts_value*5/100}}</h3>
                        <small class="text-muted fs-3">Money (5%) </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-danger">
                      <i class="far fa-user"></i>
                  </div>
                  <div class="ms-3">
                      <h3 class="mb-0 font-weight-bold">{{dashboardData.user_count}}</h3>
                      <small class="text-muted fs-3">user</small>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning">
                      <i class="bi bi-patch-check"></i>
                  </div>
                  <div class="ms-3">
                      <h3 class="mb-0 font-weight-bold">{{dashboardData.freelancer_count}}</h3>
                      <small class="text-muted fs-3">Freelancer</small>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info">
                    <i class="far fa-briefcase"></i>
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{dashboardData.job_count}}</h3>
                    <small class="text-muted fs-3">Done Jobs</small>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info">
                    <i class="far fa-th-large"></i>
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{dashboardData.categories}}</h3>
                    <small class="text-muted fs-3">Categories</small>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="ms-3">
                  <!-- {{dashboardData.admin_count}} -->
                    <h3 class="mb-0 font-weight-bold"> 1 </h3>
                    <small class="text-muted fs-3">Admins</small>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-danger">
                    <i class="fab fa-ebay"></i>
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{dashboardData.contracts_value}}</h3>
                    <small class="text-muted fs-3">Total Transaction</small>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="ms-3">
                    <h3 class="mb-0 font-weight-bold">{{dashboardData.contact_count}}</h3>
                    <small class="text-muted fs-3">Messages </small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
